/* reset */
* {
    margin: 0;                 /* witruimte buitenkant weg */
    padding: 0;                /* witruimte binnenkant weg */
    box-sizing: border-box;    /* zorgt ervoor dat randen en opvulling niet buiten de ingestelde breedte/hoogte vallen */
}

/* zorgt dat content nooit achter de navigatiebalk blijft haken */
main {
    padding-bottom: 120px; 
}

/* achtergrond */
body {
    background-color: #000000; /* zwarte achtergrond voor de app */
    display: flex;             /* zet flexbox aan om de app te kunnen positioneren */
    justify-content: center;   /* komt hierdoor precies in het midden */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; /* Laadt het beste native lettertype (zoals Apple's San Francisco) */
    -webkit-font-smoothing: antialiased; /* zorgt dat de tekst er op hoge resolutie schermen haarscherp uitziet */
}

/* tussenkoppen */
h2 {
    color: white;              /* tekst wit op donkere achtergrond */
    margin-left: 20px;         /* duwt de tekst 20px van de linkerrand van de app af */
    margin-bottom: 15px;       /* zorgt ervoor dat er 15px ademruimte tussen de titel en de kaarten eronder is */
}

/* iphone scherm */
.app-container {
    max-width: 430px;          /* breedte gebaseerd op Iphone 14 Pro Max */
    width: 100%;               /* neemt alle beschikbare breedte in, tot maximaal die 430px */
    min-height: 100vh;         /* vult altijd minimaal 100% van de schermhoogte */
    background-color: #1A1A1A; /* de donkergrijze CineTrove achtergrondkleur */
    color: #FFFFFF;            /* witte tekst op deze donkergrijze achtergrond */
    position: relative;        /* plakt de navbar onderaan */
    overflow-x: hidden;        /* kan niet horizontaal scrollen (appwijze, crouselmenu natuurlijk wel) */
}

/* header */
.app-header {
    display: flex;          /* flexbox voor header voor positionering van logo en avatar */
    justify-content: space-between;           /* duwt het logo naar links en de avatar naar rechts, met zoveel mogelijk ruimte ertussen */
    align-items: center;               /* zorgt dat het logo en de avatar verticaal netjes in het midden van de header staan, zelfs als ze verschillende hoogtes hebben */
    padding: 20px; /* geeft wat ruimte aan de binnenkant van de balk, zodat je logo niet tegen de randen plakt */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* hetzelfde subtiele glanslijntje als bij je navigatiebalk, maar dan onderaan! */
    margin-bottom: 25px; /* duwt alles onder header naar beneden */
}

/* navbar */
.bottom-nav {
    position: fixed;             /* laat de balk op dezelfde plek staan, zelfs als je scrollt */
    bottom: 20px;                 /* tilt de balk 20px aan de onderkant */
    width: calc(100% - 40px);   /* maakt de balk iets smaller dan het scherm */
    max-width: 390px;          /* nooit breder dan 390px, zodat het er op grote schermen niet uitziet als een enorme streep */
    left: 50%;                 /* centreert de balk */
    transform: translateX(-50%); /* precisieverbetering voor centring */
    z-index: 90;              /* ligt boven alles, behalve popups */
    display: flex;             /* alle icoontjes op 1 lijn */
    justify-content: space-around; /* icootnjes evenveel witruimte tussen */
    background-color: rgba(37, 37, 37, 0.155); /* semitransparant voor liquid glass effect */
    backdrop-filter: blur(15px); /*waas voor content die achter balk ligt */
    -webkit-backdrop-filter: blur(15px); /* waas voor content die achter balk ligt voor safari */
    padding-bottom: 15px;      /* binnenruimte voor onderkant */
    padding-top: 15px;         /* binnenruimte voor bovenkant */
    border-radius: 30px;       /* 30px ronde hoeken */
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* lijntje aan de bovenkant */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6); /* schaduw voor hovering effect */
}

/* knoppen */
button {
    background-color: transparent; /* geen lelijke standaard achtergrond */
    border: none;              /* geen border */
    color: white;              /* witte knop */
    font-size: 24px;           /* groot en makkelijk klikbaar */
}

/* film/show poster cards */
.movie-card {
    width: 120px;              /* vaste breedte */
    height: 180px;             /* vaste hoogte */
    border-radius: 10px;       /* 10px ronde hoeken */
    flex-shrink: 0;            /* zorgt ervoor dat de cards niet in elkaar worden geklemd */
}

/* carousel menu scroller */
.movie-scroller {
    display: flex;             /* alle posters in een rij naast elkaar */
    gap: 22px;                 /* 22px ruimte tussen elke poster */
    overflow-x: auto;          /* maakt het carousel mogelijk */
    padding: 20px;             /* ruimte binnenin de balk */
}
.movie-scroller::-webkit-scrollbar {
    display: none;             /* scrollen zonder lelijke windows/apple scrollbar */
}

/* film/show posters */
.movie-card img {
    width: 100%;               /* dwingt volledige breedte */
    height: 100%;              /* dwingt volledige hoogte */
    object-fit: cover;         /* vulling zonder lelijke uitrekking */
    border-radius: 10px;       /* geeft poster ronde hoeken net zoals de card */
}

/* profiel topbar */
.profile-topbar {
    padding: 20px;             /* ruimte zodat niet krap tegen rand zit */
}
.back-btn {
    font-size: 24px;           /* knopgrootte groot genoeg */
}

/* profielinformatie */
.profile-info {
    display: flex;             /* flexbox aan */
    flex-direction: column;    /* zet avatar, naam en datum onder elkaar */
    align-items: center;       /* centreert alles in het midden */
    margin-bottom: 30px;       /* duwt het eerstvolgende 30px naar beneden */
}

/* profielfoto */
.avatar {
    width: 80px;               /* foto 80px breed */
    height: 80px;              /* en 80px hoog */
    border-radius: 50%;        /* 50% radius zorgt voor cirkel */
    object-fit: cover;         /* voorkomt dat de afbeelding uitgerekt wordt */
    margin-bottom: 10px;       /* 10px ruimte tussen avatar en naam */
}

/* registratiedatum */
.join-date {
    color: #888888;            /* subtiel grijs voor opvallendheid */
    font-size: 14px;           /* lettertype is kleiner dan de rest */
    margin-top: 5px;           /* 5px afstand vanaf de username */
}

/* film grid */
.movie-grid {
    display: grid;             /* grid voor de films / shows */
    grid-template-columns: repeat(3, 1fr); /* splits op in 3 kolommen met 1 fraction */
    gap: 20px;                 /* 20px ruimte tussen elementen */
    padding: 20px;             /* 20px ruimte rond de grid */
    padding-bottom: 120px;     /* extra ruimte onderaan zodat films neit achter navigatiebar vallen */
}
.movie-grid .movie-card {
    width: 100%;               /* kaart past zich automatisch aan de kolombreedte aan */
    height: auto;              /* hoogte kan vrij meebewegen met de breedte */
    aspect-ratio: 2 / 3;       /* forceert altijd een bioscoopposter-verhouding (2 breed, 3 hoog) */
}

/* popup achtergrond */
.modal-overlay {
    display: none;             /* blijft onzichtbaar */
    position: fixed;        /* plaatsing is over de app heen */
    top: 0;                    /* begint bovenaan */
    left: 0;                   /* in de linker bovenhoek */
    width: 100%;               /* hele breedte */
    height: 100%;              /* hele hoogte */
    background-color: rgba(0, 0, 0, 0.8); /* zwarte laag met 80% ondoorzichtigheid */
    z-index: 100;              /* hoge prioriteit waardoor het bovenop al het andere ligt */
    justify-content: center;   /* popup venstertje horizontaal in het midden */
    align-items: flex-end;       /* dwingt het naar beneden */
}

/* popup venster */
.modal-content {
    background-color: #1A1A1A; /* donkergrijze achtergrond */
    width: 100%;               /* volledige breedte van scherm voor de popup */
    padding: 30px;             /* ruimte binnen in voor search*/
    padding-bottom: 50px;       /* extra ruimte zodat knoppen niet tegen rand plakken */

    /*vormgeving randen*/
    border-radius: 25px 25px 0 0; /* bovenste hoeken rond, onderste niet */
    border-top: 1px solid #E3D05B; /* gele bovenrand */
    border-bottom: none; /* geen onderrand */
    border-left: none; /* geen linkerrand */
    border-right: none; /* geen rechterrand */

    text-align: center;        /* gecentreerde tekst pop-up venster */

    /*animatie naar boven popup*/
    animation: slideUp 0.3s ease-out; /* slideup animatie in 0.3 seconden */
}

/* zoekveld */
.search-input {
    width: 100%;               /* zoekveld over de volledige breedte van popup venster */
    padding: 10px;             /* binnenin ruimte voor duidelijke leesbaarheid */
    margin: 15px 0;            /* invulveld marge van 15px boven en onder */
    border-radius: 5px;        /* 5px hoeken (licht rond) */
    border: none;              /* verbergt het standaard kader */
}

/* navigatie icoontjes */
.nav-icon {
    width: 35px;               /* standaard breedte van 35px */
    height: 35px;              /* standaard hoogte van 35px */
    opacity: 0.5;              /* icoontjes half doorzichtig */
    transition: all 0.2s ease;        /* soepele overgang */
}

/* hover effect voor navigatie icoontjes */
.active .nav-icon {
    opacity: 1;                /* actieve icoontje wordt volledig zichtbaar */
    transform: scale(1.1);     /* actieve icoontje wordt iets groter */

 /* actieve pagina status */
.active .nav-icon {
    opacity: 1;
    transform: scale(1.1);
    
    /* De kleur-truc (invert etc) én de drop-shadow staan nu achter elkaar in één lange filter */
    filter: invert(86%) sepia(21%) saturate(1003%) hue-rotate(352deg) brightness(97%) contrast(93%) drop-shadow(0 0 5px rgba(255, 255, 255, 0.7)); 
    }
}

/* profile avatar header */
.header-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.2);   
}

/* animatie slideup menu */
@keyframes slideUp {
    from {
        transform: translateY(100%); /* het startpunt van de animatie*/
    }
    to {
        transform: translateY(0); /* het eindpunt van de animatie*/
    }
}
